body{
    background-color: rgba(218, 235, 217, 0.212);
}
#foto-principal {
    width: 800px;
    right: 400px;
    padding: 10px;
    margin-left:80px;
}
h1 {
    font-size:62px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(5, 71, 46);
    margin-left:85px;
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(35, 145, 35);
    font-size: 23px;
    font-style: italic;
}
.subtemas {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(17, 78, 12);
    font-size: 25px;
}
.outros-subtemas {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(20, 160, 20);
    font-size:25px;
}
.ultimos-subtemas {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(14, 92, 14);
    font-size: 25px;
}
.musicas {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(43, 145, 12, 0.884);
    font-size: 25px;
}

.discos {
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(16, 59, 10);
    
}

.discos-imagens {
    width: 210px;
    right: 210px;
}


.simples-edicao {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 20px;
}

footer{
    color: rgb(12, 95, 20);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    
} 
nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(21, 214, 21);
    font-size: 20px;

}
nav :hover {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(5, 68, 5);
    font-size: 23px;

}
button  {
    padding: 15px 15px 15px 15px; 
    background-color:rgb(8, 194, 8);

}

#logopda {
   right: 20px;
   width: 20px;
}
#footer{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
